<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/page.css' %}">
</head>

<body>

    <header>
        <div class="cabecera">
            <div class="c1">
                <H1>Hola</H1>
            </div>
            <div class="c2">
                <h1>TEXT</h1>
            </div>
            <div class="c3">
                <H1>SAMPLE TEXT</H1>
            </div>
        </div>
    </header>

    <main>
        <div class="formulario">
            <h1>Consultar producto</h1>
            <div class="campo">
                <h3>Código de producto:</h3>
                <input type="text" id="nombre" name="nombre">
            </div>
            <button>Ingresar</button>
        </div>
    </main>

    <footer>
        <div class="pie">
            <H1>BOTTOM TEXT</H1>
        </div>
    </footer>
</body>

</html>